@charset "utf-8";

body, div, input, textarea {
    margin: 0;
    padding: 0;
}

img {
    border-width: 0;
}

input, textarea {
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: white;
    margin: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
}

input {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;
    width: 310px;
}

.input_label {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-size: 12px;
    padding: 5px;
    position: relative;
    top: -10px;
}

textarea {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.fc {
    overflow: hidden;
}

.clear {
    float: none;
    clear: both;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.b {
    display: block;
}

.ib {
    display: inline-block;
}

.border {
    border-radius: 3px;
    border: 1px solid #ccc;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.warn {
    color: red;
    font-size: 11px;
}

.button {
    text-align: center;
    font-weight: bold;
    color: white;
    background: #24A828;
    border-radius: 3px;
    font-size: 14px;
    height: 16px;
    padding: 12px 20px;
    cursor: pointer;
    min-width: 80px;
    display: inline-block;
}

.button:hover {
    background-color: #1F9323;
}

.top {
    text-align: center;
    background-color: #000;
    height: 44px;
    background-image: url("images/top.png");
    font-size: 15px;
    border-bottom: 1px solid #000;
}

.top_button {
    color: #f0f0f0;
    text-decoration: none;
    text-shadow: 0px -1px 1px #000;
    float: right;
    font-size: 15px;
    padding: 12px 10px;
    text-align: center;
}

.top_button:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px #fff;
}

.bottom {
    border-top: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    color: #999;
}

.content {
    width: 970px;
    margin: 0 auto 0 auto;
}

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.w100 {
    width: 100px;
    display: inline-block;
}

.w170 {
    width: 170px;
    display: inline-block;
}

.w75 {
    width: 75px;
    display: inline-block;
}

.w50 {
    width: 50px;
    display: inline-block;
}

.title {
    font-size: 16px;
}

.small_text {
    font-size: 11px;
}

.link {
    margin: 3px 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.link:hover {
    color:  #385f8a;
}

.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #e2e2e9;
    color: #778087;
}

.box_header {
    padding: 4px 2px;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
}

.box_content {
    padding: 2px 2px;
    overflow: hidden;
}

.box_message {
    padding: 10px;
    font-size: 13px;
    background-color: #f3faff;
    border-left: 5px solid #c7e8ff;
    border-bottom: 1px solid #e2e2e2;
    color: #333;
}

.inner_box {
    margin: 10px 0 0 40px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e2e2e9;
    color: #778087;
    font-size: 11px
}

.inner_box_header {
    padding: 6px 10px;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
}

.rtb_list > .yy_list_item {
    padding: 6px 10px;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
}

.rtb_item_image {
    width: 48px;
    height: 48px;
}

.rtb_item_content {
    padding: 6px;
    width: 540px;
    overflow: hidden;
}

.rtb_list_input {
    min-width: 10px;
    border: 0 solid #ccc;
    box-shadow: none;
}

.rtb_list_label {
    min-width: 20px;
    font-size: 12px;
    padding: 3px;
    position: relative;
    top: -8px;
}

.login_background {
    background-color: #d0d0d0;
    background-image: url("images/grid.png");
    background-repeat: repeat;
}

.login_content_panel {
    height: 500px;
}

.login_right_panel {
    width: 270px;
    float: right;
}

.login_main_panel {
    width: auto;
    margin: 0px 290px 0px 0px;
}

.position_ad {
    width: 88px;
    margin: 0 2px 2px 0;
}

.position_ad_image {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.imei_tags {
    word-wrap: break-word;
    min-height: 14px;
    font-size: 12px;
}

.rtb_background {
    background-color: #d0d0d0;
    background-image: url("images/grid.png");
    background-repeat: repeat;
    padding-bottom: 10px;
}

.rtb_content_panel {
    min-height: 500px;
    overflow: hidden;
}

.rtb_right_panel {
    width: 270px;
    float: right;
}

.rtb_main_panel {
    width: auto;
    margin: 0px 290px 0px 0px;
}

.rtb_max {
    width: 250px;
    height: 250px;
}

.user_info_label {
    display: inline-block;
    width: 40px;
    text-align: right;
    font-size: 12px;
    padding: 3px;
    position: relative;
    top: -8px;
}

.user_info_input {
    width: 100px;
    border: 0 solid #ccc;
    box-shadow: none;
}

.image_warning {
    top: 202px;
    left: 395px;
}

.item_inner {
    margin-left: 48px; 
}

.add_point_form {
    width: 350px;
    margin: 0 auto;
}

.inline_label {
    font-size: 12px;
    padding: 8px 6px;
    text-align: right;
}

.inline_button {
    text-align: center;
    font-weight: bold;
    color: white;
    background: #24A828;
    border-radius: 2px;
    font-size: 13px;
    height: 16px;
    padding: 6px 10px;
    cursor: pointer;
    min-width: 40px;
    display: inline-block;
}

.inline_button:hover {
    background-color: #1F9323;
}

.position_list {
    margin: 0 auto;
    width: 410px;
}

.position_list > .yy_list_item{
    display: inline-block;
    margin: 0 2px;
}

.position_button {
    font-size: 11px;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;
    padding: 6px;
    cursor: pointer;
}

.position_button:hover{
    background: #24A828;
}

.yy_list_item.yy_selected > .position_button{
    background: #24A828;
    color: white;
}

.next_button {
    text-align: center;
    font-size: 13px;
}

